
  .code-container{
    /* border:2px solid green; */

    width: 100%;
  }
 
  .custom-code-block {
    width: fit-content; /* Set your desired width */
    overflow-x: hidden; /* Enable horizontal scrolling if needed */
    white-space:pre-wrap; /* Wrap text */
  }